PORT=3000
NODE_ENV=development
DB_SERVICE_URL=http://localhost:3001
IA_SERVICE_URL=http://localhost:3003
BUCKET_MANAGER_URL=http://localhost:3004
NOTIFICATION_HANDLER_URL=http://localhost:3002
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080
