PORT=3000
NODE_ENV=development
DB_SERVICE_URL=http://localhost:3001
IA_SERVICE_URL=http://localhost:3003
NOTIFICATION_HANDLER_URL=http://localhost:3002
EXTERNAL_REQUEST_TIMEOUT_MS=10000
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080
